/* Tags Input Plugin */
.chosen-container,
.chosen-container .chosen-drop,
.chosen-container-single .chosen-single,
.chosen-container-multi .chosen-choices li.search-field input[type="text"],
.chosen-container-multi .chosen-choices li.search-choice,
.chosen-container-active.chosen-with-drop .chosen-single,
.chosen-container-active .chosen-choices {
    box-shadow: none;
}

.chosen-container-multi .chosen-choices li.search-field {
    margin: 0px 0px 0px 6px;
}

.chosen-container .chosen-drop {
    border: 1px solid #1ab394;
    border-top: 1px solid #e5e6e7;
}

.chosen-container-multi .chosen-choices {
    background-image: none;
    padding: 3px;
    border-radius: 3px;
}

.chosen-container-multi .chosen-choices li.search-choice {
    background: #f1f1f1;
    border: 1px solid #e5e6e7;
    border-radius: 3px;
    box-shadow: none;
    color: #333333;
    cursor: default;
    line-height: 13px;
    margin: 3px 0 3px 5px;
    padding: 3px 20px 3px 5px;
    position: relative;
}

.chosen-container-single .chosen-single {
    background: #ffffff;
    box-shadow: none;
    -moz-box-sizing: border-box;
    border-radius: 3px;
    cursor: text;
    height: auto !important;
    margin: 0;
    min-height: 30px;
    overflow: hidden;
    padding: 4px 12px;
    position: relative;
    width: 100%;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    background-image: none;
}