/* Summernote text editor  */
.note-editor {
    height: auto !important;
}

.note-editor.fullscreen {
    z-index: 2050;
}

.note-editor.note-frame.fullscreen {
    z-index: 2020;
}

.note-editor.note-frame .note-editing-area .note-editable {
    color: #676a6c;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #e7eaec;
}

.note-editor.note-frame {
    border: 1px solid #e7eaec;
}

.note-editor.panel {
    margin-bottom: 0;
}

.panel-heading.note-toolbar {
    border-bottom: 1px solid #e7eaec;
}