html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container,
.wrap > .container-fluid {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    padding-top: 20px;
}

.red {
    color: red;
}

.gray {
    color: darkgray;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.black {
    color: black;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #cc5555;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media (max-width: 768px) {
    .nav li > form {
        padding: 3px;
    }
}

.nav > li > form > button:hover {
    text-decoration: none;
}


/* global begin */

.icon-link,
.icon-link:focus,
.icon-link:active,
.icon-link:visited {
    display: inline-block;
    font-size: 14px;
    padding: 0px 5px;
    vertical-align: top;
    color: #999999;
    text-decoration: none;
    outline: none;
}

.icon-link .glyphicon {
    margin-right: 5px;
}

.icon-link:hover {
    color: #333333;
}

.icon-link-middle {
    vertical-align: middle;
}

/* global end */

.upload-thumb {
    width: 172px;
    height: 172px;
    border: 1px solid #dddddd;
    overflow: hidden;
    position: relative;
}

.upload-thumb img {
    width: 170px;
    height: 170px;
}

.upload-thumb .uploadifive-queue-item {
    position: absolute;
    top: 150px;
    width: 170px;
}

.upload-thumb .uploadifive-queue-item .progress {
    border-radius: 0px;
}

.upload-image-button {
    margin-top: -170px;
}

.upload-image-button input {
    cursor: pointer;
}

/* bootstrap begin */

.panel-heading ul {
    margin-bottom: 0px;
}

.panel-heading li {
    display: inline-block;
}

.input-group-inline {
    display: inline-table;
    width: 1px;
    vertical-align: middle;
}

.form-control-inline,
.input-group .form-control-inline {
    display: inline-block;
    width: auto;
    margin-right: 5px;
}

.form-control-datetime,
.input-group .form-control-datetime {
    display: inline-block;
    width: 180px;
}

.input-group-inline .form-control-inline {
    margin-right: 0px;
}

.radio, .checkbox {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* bootstrap end */

/* tabs begin */

.tabs-box {
}

.tabs-box .tabs {
    font-size: 14px;
    line-height: 34px;
}

.tabs-box .tabs a {
    display: inline-block;
    padding: 0px 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #333333;
    text-decoration: none;
}

.tabs-box .tabs a.active {
    border: 1px solid #f95e70;
    color: #f95e70;
}

.panel-heading .tabs {
    line-height: 14px;
    line-height: 24px;
}

.panel-heading .tabs li {
    border-right: 1px solid #dddddd;
}

.panel-heading .tabs a {
    border: none;
    border-radius: 0px;
}

.panel-heading .tabs a.active {
    border: none;
}

.panel-heading.text-center li:last-child {
    border-right: none;
}

/* tabs end */

/*gallery begin */

.publish-gallery {
    padding: 6px 6px 0px;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.publish-gallery ul {
    margin-right: -20px;
    margin-bottom: 0px;
}

.gallery-item {
    float: left;
    width: 172px;
    height: 172px;
    border: 1px solid #e2e2e2;
    margin-right: 6px;
    margin-bottom: 6px;
    margin-top: 0px !important;
    border-radius: 0px !important;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.gallery-item .close {
    display: block;
    width: 24px;
    height: 24px;
    background: rgba(252, 94, 94, 0.8) url(../images/grid-item-del.png) no-repeat center center;
    background-size: 15px 15px;
    position: absolute;
    top: 0px;
    right: 0px;
    left: auto;
    z-index: 2;
    outline: none;
    opacity: 0.8;
    overflow: hidden;
    text-indent: -9999px;
}

.gallery-item .close:hover {
    opacity: 1;
}

.gallery-item .notice {
    padding: 5px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.gallery-image {
    width: 170px;
    height: 170px;
}

.gallery-image img {
    width: 170px;
    height: 170px;
}

.gallery-desc {
    width: 170px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    color: #e8e8e8;
    text-align: center;
}

.gallery-item {
    cursor: pointer;
}

.gallery-item.error {
    cursor: auto;
}

.gallery-item.error .fileinfo {
    color: #ff0000;
}

.gallery-item .progress {
    width: 170px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
    z-index: 1;
    background: none;
    box-shadow: none;
}

.gallery-item .progress-bar {
    height: 30px;
    line-height: 30px;
}

.publish-gallery .add-gallery {
    width: 172px;
    height: 172px;
    text-align: center;
    padding-top: 40px;
    background: #ffffff url(../images/grid-create.png) no-repeat center 30px;
    color: #474747;
}

/* gallery end */

/* line input begin */

.line-input {
    width: 60%;
    margin: 0px auto 20px;
}

.line-input td {
    padding: 5px 12px;
}

.group-helpme {
    width: 80%;
}

.group-letgo tr > td:nth-child(4) {
    display: none;
}

.group-letgo tr > td:nth-child(6) {
    display: none;
}

/* line input end */

/* table-report begin */

.table-report > thead > tr > th,
.table-report > tbody > tr > th,
.table-report > tfoot > tr > th,
.table-report > thead > tr > td,
.table-report > tbody > tr > td,
.table-report > tfoot > tr > td {
    line-height: 16px;
    vertical-align: middle;
    text-align: center;
}

.table-report caption {
    text-align: center;
    border: 1px solid #dddddd;
    border-bottom: none;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

/* table-report end */